$text: #d7fede;
$background: #010910;
$primary: #c32121;
$secondary: #068c9f;
$accent: #1fa1f7;

:root {
    --text: $text;
    --background: $background;
    --primary: $primary;
    --secondary: $secondary;
    --accent: $accent;
}